#wrapper {
    align: center;
    vertical-align: middle;
}

#video {
    
    display: block;
    margin: 0 auto;
    object-fit: cover;
    right: 0;
    bottom: 0;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    opacity: 70%;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(https://c.pxhere.com/photos/50/21/nightphotography_stars_milkywaydeathvalleynightsky-155477.jpg) center;
  background-size: cover;
}

