<!-- Футер -->
<div class="footer-content">
  <img src="/logo.png" alt="Indexmod" class="footer-logo">
  <span class="footer-year">2006 — 2025</span>
</div>
<p>
  <a href="{{ site.url }}" class="footer-link">Indexmod Fashion & Art Сhainpædia</a> |
  <a href="{{ site.url }}/grid" class="footer-link">Indexmod Best 100 Grid</a> |
  <a href="https://t.me/indexmod_official" class="footer-link" target="_blank">Telegram channel</a> |
  <a href="https://air.indexmod.xyz/" class="footer-link" target="_blank">Радио «Эфир» by Indexmod</a> |
  <a href="https://www.buymeacoffee.com/indexmod" class="footer-link" target="_blank">Buy Me a Coffee</a>
</p>
