<!-- Футер -->
<hr class="footer-line">
<img src="/logo.png" alt="Indexmod" class="footer-logo">
<span class="footer-year">2006 — 2025</span>
<p><a href="{{ site.url }}" class="footer-link">Indexmod Fashion & Art Сhainpædia</a> |
<a href="https://t.me/indexmod_official" class="footer-link" target="_blank">Telegram cahannel</a>
| <a href="https://air.indexmod.xyz/" class="footer-link" target="_blank">Радио «Эфир» by Indexmod</a></p>

<style>
  /* Линия футера */
  .footer-line {
    width: 100%;
    margin: 0 auto;
    border: none;
    border-top: 1px solid black;
    margin-top: 20px; /* Отступ сверху */
    margin-bottom: 10px; /* Отступ снизу */
  }

  /* Логотип футера */
  .footer-logo {
    width: 100px; /* Устанавливаем ширину логотипа 100px */
    height: auto; /* Высота будет пропорциональна ширине */
    margin: 50px 0; /* Отступы со всех сторон по 50px */
    border: none; /* Убираем любые рамки */
    outline: none; /* Убираем возможные внешние границы */
  }

  /* Годы в футере */
  .footer-year {
    font-size: 20px; /* Размер шрифта 30px */
    font-weight: normal;
    line-height: 1;
  }

  /* Ссылка футера */
  .footer-link {
    font-size: 20px; /* Размер шрифта 30px */
    font-weight: normal;
    text-decoration: none; /* Убираем подчеркивание */
    color: inherit; /* Цвет текста соответствует основному */
  }

  /* Общий стиль для футера */
  footer {
    font-size: 20px; /* Размер шрифта для всего футера */
    text-align: center; /* Центрируем текст в футере */
  }
</style>
