{% assign words = page.title | replace: ',', '' | replace: '.', '' | replace: '(', '' | replace: ')', '' | replace: '-', '' | replace: '–', '' | replace: '_', '' | replace: '/', '' | replace: '&', '' | strip | split: " " %}
{% assign token = words[0] | replace: '[^a-zA-Z]', '' | slice: 0,3 | upcase %}

{% for word in words offset:1 %}
  {% assign clean_word = word | replace: '[^a-zA-Z]', '' %}
  {% assign letter = clean_word | slice: 0,1 | upcase %}
  {% assign token = token | append: letter %}
{% endfor %}

{{ token | strip }}
