.content {

max-width:900px;

}


.content p {

margin:0 0 30px;

}


.content strong {

font-weight:normal;
color:green;

}


.content table {

border-collapse:collapse;
border:0.5px solid #e6e6e6;
width:100%;

margin:40px 0;

}


.content th,
.content td {

border:0.5px solid #e6e6e6;

padding:10px;

text-align:left;
vertical-align:top;

font-family:Monaco, "Courier New", monospace;
font-size:14px;
font-weight:100;
line-height:1.45;

}


.content blockquote {

border-left:3px solid #000;

padding-left:30px;

font-style:italic;

}
